<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>

<div class="left_col scroll-view" th:fragment="sidebarmenu">
    <div class="navbar nav_title" style="border: 0;">
        <a th:href="@{/login/manager}" class="site_title"><i class="fa fa-paw"></i> <span>网站后台管理</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_info">
            <span>Welcome,</span> <h2 th:text="${#httpSession.getAttribute('username')}"></h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <br/>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-user"></i> 信息管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{~/login/addUserMenu?type=1}">添加用户</a></li>
                        <li><a th:href="@{~/manager/queryUserListMenu}">用户列表</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-bars"></i> 老年人信息管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{~/oldUser/addOldUserMenu}">添加老人信息</a></li>
                        <li><a th:href="@{menulist}">老年人列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Logout" th:href="@{/login/index}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
</div>
</body>
</html>