<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>老年人管理系统</title>
    <link th:href="@{~/css/login/reset.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{~/js/easyui/themes/bootstrap/easyui.css}" />
    <link th:href="@{~/css/login/login.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{~/js/jquery/jquery-1.7.1.min.js}"></script>
    <script th:src="@{~/js/jquery/jquery.cookie.js}"></script>
    <script th:src="@{~/js/common/validate.js}"></script>
    <script th:src="@{~/js/common/md5.js}"></script>
    <script th:src="@{~/js/common/login.js}"></script>
</head>
<body onkeydown="javascript:if(event.keyCode==13)loginSubmit();">
<input id="idInput" type="hidden" value="company" />
<div class="container clearfix">
    <!-----------------页面左侧文字------------------>
    <div class="secL">
        <h2>老年人管理系统</h2>
        <p>
            实现对老年人口信息的管理，包括老年人口基本信息、居住信息、<br>退休情况、医疗养老情况、子女情况、是否空巢、慢性病情况等。<br>不仅仅是信息的管理，还要为日常工作提供依据。
        </p>
    </div>
    <!-----------------页面右侧表单------------------>
    <div class="secR">
        <!-----页面右侧透明背景----->
        <div class="box-bg"></div>
        <!--------表单内容------------>
        <form action="checkUser" method="post" name="frmLogin" id="loginForm">
            <div class="form">
                <h1>登录平台</h1>
                <div class="item clearfix">
                    <label for="userNameIpt"></label>
                    <input type="text" tabindex="1" id="userNameIpt" name="name"
                           notnull="true" info="用户名" placeholder="请输入用户名">
                </div>
                <div class="item itempass clearfix">
                    <label for="password"></label>
                    <input type="password" tabindex="2" id="password" name="password" notnull="true" info="密码"
                           autocomplete="off" placeholder="请输入密码" />
                </div>
                <div class="item itemRadio clearfix">
                    <input  type="checkbox" style="float: left;width:13px;height: 25px" id="radioPass"  onclick="checkbox();">管理员</input>
                </div>
                <div class="item">
                    <button type="button" tabindex="2" onclick="loginSubmit();" id="btnSubmit2" onkeydown="javascript:if(event.keyCode==13){event.returnValue = false}">登&nbsp;&nbsp;录</button>
                </div>
                <div class="item itemRadio clearfix">
                    <a href="#" onclick="addUser()" style="float: left;">免费注册</a>

                    <a href="#" onclick="modifyPassword()" style="float: right;">忘记密码?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 修改密码弹窗结束-->
<script type="text/javascript">
    var data={};
    var checkSign = false;
    function checkbox() {
        if (checkSign==true) {
            $("#radioPass").checked="";
            checkSign=false;
        } else if(checkSign==false) {
            $("#radioPass").checked="checked";
            checkSign=true;
        }
    }
    function loginSubmit() {
        if (verification()) {
            var url=getRootPath()+"/login";
            var userName = $("#userNameIpt").val();
            var loginInfo = userName+" ";
            if(checkSign){
                data.type = 1;
            }else{
                data.type = 0;
            }
            data.name = $('#userNameIpt').val();
            data.password = $('#password').val();
            $.cookie("loginInfo", loginInfo);
            $.ajax({
                type:"post",
                url:url,
                dataType:'json',
                data:data,
                async:false,
                success:function(data) {
                    if(data.code==1){
                        window.location.href=getRootPath()+"/manager";
                    }else {
                        alert("操作信息："+data.msg);
                    }
                },
                error:function (data) {
                    console.info(data);
                    alert("出现错误，请联系管理员。");
                }
            });
        }
    }

    function modifyPassword(){
        window.location.href=getRootPath()+"/userModify";
    }
    function addUser(){
        window.location.href=getRootPath()+"/addUserMenu";
    }
</script>

</body>
</html>

