<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Summernote</title>
    <link rel="stylesheet" type="text/css" th:href="@{dist/summernote.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{dist/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{dist/sendParty.css}"/>
    <link th:href="@{dist/select2/css/select2.css}" rel="stylesheet"/>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{dist/bootstrap.js}"></script>
    <script type="text/javascript"
            th:src="@{js/layer/1.9.3/layer.js}"></script>
    <script th:src="@{dist/select2/js/select2.js}"></script>
    <script th:src="@{dist/summernote.js}"></script>
    <!--<script th:src="@{dist/summernote.min.js}"></script>-->
    <!--<script th:src="@{dist/lang/summernote-zh-CN.js}"></script>-->
    <script th:src="@{js/tools.js}"></script>
    <script>
        var url = getRootPath()+'/getHtmlList';
        $.ajax({
            type:"get",
            url:url,
            dataType:"json",
            success:function(data) {
                $.each(data.data, function (index,item) {
                    $("#title").append("<option value='"+item.htmlCode+"'"+"htmlcontent='"+item.content+"'>"+item.title+"</option>");
                });
            }
        });

        $(document).ready(function(){
            $("#title").change(function(){
                var content =$("#title option:selected").attr("htmlcontent");
                alert(content);
                $('#summernote').summernote('code', content);
            });
        });
    </script>
</head>
<body>
<body>
<div class="wrapper">
    <form id="send_party" class="form-inline">
            <tbody> <tr>
                <td>页面列表</td>
                <td>
                    <select class="form-control" style="width: 600px;" id="title" name="title">
                        <option value="" htmlcontent="">--请选择--</option>
                    </select>
                </td>
            </tr>

            <!--<tr>-->
                <!--<td>标题：</td>-->
                <!--<td>-->
                    <!--<input class="form-control" style="width: 600px;" type="text" name="title" id="title"/>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td> 内容：</td>
                <td>
                    <div id="summernote" style="display: none;"></div>
                    <input type="hidden" id="content" name="content"/></td>
            </tr>
            <tr>
                <td> 描述：</td>
                <td><input type="hidden" id="safe" name="safe" value="1"/>
                    <input type="hidden" id="state" name="state" value="1"/>
                    <input class="form-control" style="width: 600px;" type="text" id="htmlDesc" name="htmlDesc"/>
                </td>
            </tr>
            <tr>
                <td class="inputend" colspan="2"><input class="btn btn-lg btn-primary" type="button" id="submit"
                                                        value="发送"/></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(".js-example-basic-multiple").select2();
    $("#submit").click(function () {
        var ss = $("#summernote").summernote('code');
        if ($("#title").val() == ""){
            layer.msg('请输入标题!', {icon: 6, time: 1000});
            return false;
        }
        if (ss == ""){
            layer.msg('请输入内容!', {icon: 6, time: 1000});
            return false;
        }
        if ($("#htmlDesc").val() == ""){
            layer.msg('请输入描述!', {icon: 6, time: 1000});
            return false;
        }
        $("#content").val(ss);
        layer.confirm('确认要修改吗？', function (index) {
            $.ajax({
                type: "post",
                url: getRootPath()+"/summernote/modify",
                data: $("#send_party").serialize(),
                success: function (data) {
                    //若执行成功的话，则隐藏进度条提示
                    if (data != null && data != 'undefined'
                        && data == 1) {
                        layer.msg('发送成功!', {icon: 6, time: 1000});
                    } else {
                        layer.msg('系统异常！请与系统管理员联系!', {icon: 5, time: 1000});
                    }
                }
            });
        });
    });
    $(document).ready(function () {
        $('#image').summernote({
            height: 200, /*高さを指定*/
            width: 400,
            lang: 'zh-CN', // default: 'en-US'
            focus: true,
            toolbar: [
                ['insert', ['picture']]
            ],
            callbacks: {
                onImageUpload: function (files) { //the onImageUpload API
                    sendFile(files[0], 2);
                }
            }
        });
        $('#summernote').summernote({
            height: 400, /*高さを指定*/
            width: 600,
            lang: 'zh-CN', // default: 'en-US'
            focus: true,
            toolbar: [
                ['fontname',['fontname']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['paragraph']],
                ['height', ['height']],
                ['insert', ['picture']]
            ],
            fontNames:['Arial','宋体', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            fontSizes:['8', '9', '10', '11', '12', '14','16','17', '18', '24', '36'],
            lineHeights : ['1.0', '1.2', '1.4', '1.5', '1.6','1.7', '1.8', '2.0', '3.0'],
            callbacks: {
                onImageUpload: function (files) { //the onImageUpload API
                    sendFile(files[0], 1);
                }
            }
        });
        $('#summernote').summernote('fontSize', 16);
        $('#summernote').summernote('font', '宋体');
        $('#summernote').summernote('height', 1.7);
        function sendFile(file, type) {
            var formData = new FormData();
            formData.append("file", file);
            // XMLHttpRequest 对象
            var xhr = new XMLHttpRequest();
            xhr.open("post", getRootPath()+'/summernote/fileupload', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                    console.info("上传完成");
                    var result = JSON.parse(xhr.responseText);
                    console.info(result.code);
                    if (result.code == 1) {
                        console.info("文件路径");
                        console.info(result.data);
                        // 调用insertImage将上传后的图片插入summernote编辑器中
                        if (type == 1) {
                            $('#summernote').summernote('insertImage', result.data.url,  function ($image) {
                                $image.css('width', '100%');
                                $image.attr('data-filename', 'retriever');
                            });
                        } else {
                            $("#image").summernote('code',"");
                            $('#image').summernote('insertImage', result.data.url, result.data.filename);
                            $('#picurl').val(result.data.url);
                        }
                    } else {
                        console.info("图片上传失败：");
                    }
                }
            };
            xhr.upload.addEventListener("progress", progressFunction, false);
            xhr.send(formData);
        }

        // 进度条
        function progressFunction(evt) {
            if (evt.lengthComputable) {
                var completePercent = Math.round(evt.loaded / evt.total * 100) + "%";
                // console.info(completePercent);
                $("#loadingText").html("正在上传图片..." + completePercent);
                if (completePercent == "100%") {
                    $("#loadingText").html("图片上传成功,正在处理");
                }
            }
        };
    });
</script>
</body>
</body>
</html>